<% if line_item == @curren_item %>
  <tr id="current_item">
<% else %>
  <tr>
<% end %>
    <td><%= line_item.quantity %>&times;</td>
    <td><%= line_item.product.title %></td>
    <td class="line_item_price">
      <%= number_to_currency(line_item.total_price) %>
    </td>
    <% unless @cart.nil? %>
      <!-- remove line item -->
      <!--<td>
        <%= button_to 'Remove', line_item, method: :delete,
          data: {confirm: 'Are you sure?'} %>
      </td>-->
      <!-- remove product -->
      <td>
        <%= button_to '-', decrement_line_item_path(line_item),
          method: :put, remote: true %>
      </td>
    <% end %>
  </tr>
