<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>

<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to t('.add_html'), line_items_path(product_id: product),
            remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @index_counter > 5 %>
  <p>
    You opened this page
    <%= @index_counter %>
    <%= 'time'.pluralize(@index_counter) %>.
  </p>
<% end %>
